<%- include('partials/header'); %>
<section class="top-video">
  <div style="padding: 56.25% 0 0 0; position: relative">
    <iframe
      src="https://player.vimeo.com/video/674927923?h=77a7f80217&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
      frameborder="0"
      allow="autoplay; fullscreen; picture-in-picture"
      allowfullscreen
      style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
      title="Andrea_PR_Cut_6"
    ></iframe>
  </div>
</section>
<section class="founder">
  <h2 class="secondary-header founder__title">Meet Our Founders</h2>
  <div class="founder__container">
    <div class="founder__text">
      <div class="founder__image-container--responsive">
        <img class="founder__image" src="assets/about/founder-2.png" />
        <div class="founder__image-caption">
          <span class="founder__image-caption--title">Andrea d'Agostini</span>
          <span class="founder__image-caption--subtitle"
            >CEO and Co-founder</span
          >
        </div>
      </div>
      <h2 class="secondary-header founder__subtitle">
        <a href="https://www.andreadagostini.com/en/">Andrea d'Agostini</a>
      </h2>
      <p class="founder__paragraph">
        Andrea d’Agostini has a lengthy track record as a company builder and
        chief marketer. He joined OriginClear in January 2022 as President and
        Chief Strategic Officer or CSO, responsible for developing,
        communicating, and executing the company's strategies to enhance
        strategic initiatives, future goals, and financial growth.
      </p>
      <p class="founder__paragraph">
        As its Chief Marketing Officer for more than seven years, Mr. d’Agostini
        helped develop American Power And Gas into a $300 million+, 200-employee
        multinational company dedicated to switching customers from fossil fuels
        to renewables.  Andrea has also managed marketing and public relations
        campaigns for brands like Sephora, Lacoste, Pandora, Sperry, and many
        others.
      </p>
      <p class="founder__paragraph">
        Andrea is Co-Founder and Chairman of <a href="https://salesjet.io"
          >SalesJet.io</a
        >, an innovative tech startup in the marketing and automation space, and
        also serves on the board of a private community of 20,000 crypto
        investors dedicated to supporting the launch of investment-oriented
        coins. He sits on the boards of Monarchy Media — a boutique strategic
        marketing firm, CoinShare LTD, a blockchain technology firm, and Viva
        Concepts, a customer retention marketing firm for dental practices.
      </p>
      <p class="founder__paragraph">
        Andrea considers that entrepreneurs are artists as they are able to
        create “something” from “nothing”, and do it every day. For this reason,
        since 2015 he has been delivering over 200 seminars per year to support
        entrepreneurship and help entrepreneurs achieve better results through
        marketing, technology, and creativity. To date, he has delivered over
        1,200 seminars all over the world, with over 100,000 entrepreneurs
        attending. 
      </p>
      <p class="founder__paragraph">
        Andrea d’Agostini has a Bachelor of Science (BS) degree from Università
        degli Studi di Torino. He is based in Los Angeles, California, and
        Clearwater, Florida. His passions are technology, music, travel, and
        cooking.
      </p>
    </div>
    <div class="founder__image-container">
      <img class="founder__image" src="assets/about/founder-2.png" />
      <div class="founder__image-caption">
        <span class="founder__image-caption--title">Andrea d'Agostini</span>
        <span class="founder__image-caption--subtitle">CEO and Co-founder</span>
      </div>
    </div>
  </div>
  <%- include('components/divider') %>
  <div class="founder__container">
    <div class="founder__text">
      <div class="founder__image-container--responsive">
        <img class="founder__image" src="assets/about/founder.jpg" />
        <div class="founder__image-caption">
          <span class="founder__image-caption--title">Nicole Tabs</span>
          <span class="founder__image-caption--subtitle"
            >Creative Director and Co-founder</span
          >
        </div>
      </div>
      <h2 class="secondary-header founder__subtitle">
        <a href="https://nicoletabs.com">Nicole Tabs</a>
      </h2>
      <p class="founder__paragraph">
        Nicole is a serial entrepreneur and Humanitarian.
      </p>
      <p class="founder__paragraph">
        She is currently the Creative Director of Monarchy Media, Co-Founder of
        Upliffs, a modern fitness brand, and Co-Founder of Serendipity Film
        Group, a film production company that just announced its first TV series
        with ABC.
      </p>
    </div>
    <div class="founder__image-container">
      <img class="founder__image" src="assets/about/founder.jpg" />
      <div class="founder__image-caption">
        <span class="founder__image-caption--title">Nicole Tabs</span>
        <span class="founder__image-caption--subtitle"
          >Creative Director and Co-founder</span
        >
      </div>
    </div>
  </div>
</section>
<section class="about-video">
  <h2 class="about-video__title secondary-header">
    MONARCHY TEAM / OUR VALUES
  </h2>
  <p class="about-video__paragraph">
    In less than 2 years Monarchy has developed unique business strategies and
    is growing in the market with a very different approach than regular
    agencies. Meet some of our leaders and get in touch to learn more about us.
    #WeAreMonarchy
  </p>
  <div class="about-video__thumb-container">
    <img
      class="about-video__thumbnail"
      src="/assets/about/video/video-background.jpg"
    />
    <img
      class="about-video__play-icon"
      src="/assets/about/video/play-icon.svg"
    />
  </div>
</section>
<%- include('components/divider') %>
<section class="leadership">
  <h2 class="leadership__title secondary-header">Leadership</h2>
  <p class="leadership__paragraph">
    With a wealth of skills and experience between them, meet the leaders who
    have made Monarchy the powerhouse it is today.
  </p>
  <div class="leadership__cards-container">
    <% for(let {name, position, image} of team.leadership) { %> <%-
    include('components/team-card', { name, position,image }); %> <% }; %>
  </div>
  <div class="leadership__cards-container leadership__cards-container--bottom">
    <% for(let { name, position, image } of team.executives) { %><%-
    include('components/team-card', { name, position, image }); %> <% }; %>
  </div>
  <%- include('components/divider') %>
</section>
<section class="leadership">
  <h2 class="leadership__title secondary-header">#TEAMMONARCHY</h2>
  <p class="leadership__paragraph">
    Here are some of our teammates, we love them and what they do.
  </p>
  <div class="leadership__cards-container leadership__cards-container--team">
    <% for(let { name, position, image } of team.team) { %> <%-
    include('components/team-card', { name, position, image }); %> <% }; %>
  </div>
</section>
<%- include('partials/footer'); %>
