<%- include('partials/header'); %>
<section class="founder">
    <div class="founder__text">
        <h2 class="founder__title secondary-header">Meet Our Founder</h2>
        <p class="founder__paragraph">Nicole founded Monarchy out of a desire to help businesses grow and be more successful.</p>
        <p class="founder__paragraph">Having come from an entrepreneurial background as well as studying art, it's not surprising that she is passionate about bringing artistry to business. She wants to show people that art has meaning, and it does have a place in the business world.</p>
        <p class="founder__paragraph">Nicole is no stranger to growing businesses. Her experience in influencer marketing led to her branching out with other services. She identified a need that businesses had; effective marketing that would increase their leads, engagement, and sales. Thus, Monarchy grew to become a full-service agency.</p>
        <p class="founder__paragraph">Above all, Nicole wants to influence people to do positive things. She likes to work with businesses that have a positive effect on consumers. When she takes on your brand, she is fully invested and she treats it like it's her own.</p>
    </div>
    <div class="founder__image-container">
        <img class="founder__image" src="assets/about/founder.jpg" />
        <div class="founder__image-caption">
            <span class="founder__image-caption--title">Nicole Tabibzadeh</span>
            <span class="founder__image-caption--subtitle">CEO and Co-founder</span>
        </div>
    </div>
</section>
<section class="about-video">
    <h2 class="about-video__title secondary-header">The Monarchy Way</h2>
    <p class="about-video__paragraph">We are a marketing engine that partners with businesses to create leads and sales. We blend entrepreneurship with artistry to deliver results for your brand. Results that will get engagement and views. Results that will bring attention to your brand. Results you will be proud of.  Our team is filled with skilled creatives that will make your brand stand out and become a force to be reckoned with. Meet the leaders and members of #TeamMonarchy - we all work together to make your brand stronger.</p>
    <div class="about-video__thumb-container">
        <img class="about-video__thumbnail" src="/assets/about/video/video-background.jpg"/>
        <img class="about-video__play-icon" src="/assets/about/video/play-icon.svg"/>
    </div>
    <%- include('components/divider') %>
</section>
<section class="leadership">
    <h2 class="leadership__title secondary-header">Leadership</h2>
    <p class="leadership__paragraph">With a wealth of skills and experience between them, meet the leaders who have made Monarchy the powerhouse it is today.</p>
    <div class="leadership__cards-container">
        <% for(let i = 0; i < 2; i++) { %>
        <% const { name, position, image } = team.leadership[i]; %>
            <%- include('components/team-card', { name, position, image }); %>
        <% }; %>        
    </div>
    <div class="leadership__cards-container leadership__cards-container--bottom">
        <% for(let { name, position, image } of team.leadership) { %>
        <% if(name === 'Nicole D' || name === 'Fabio A') continue; %>
            <%- include('components/team-card', { name, position, image }); %>
        <% }; %> 
    </div>
    <%- include('components/divider') %>
</section>
<section class="leadership">
    <h2 class="leadership__title secondary-header">#TEAMMONARCHY</h2>
    <p class="leadership__paragraph">Say hello to the talented professionals who are using their skills to help your brand reach its full potential.</p>
    <div class="leadership__cards-container leadership__cards-container--team">
        <% for(let { name, position, image } of team.team) { %>
            <%- include('components/team-card', { name, position, image }); %>
        <% }; %> 
    </div>
</section>
<%- include('partials/footer'); %>