<%- include('partials/header') %>

<section class="header">
    <div class="bg-video">
        <video class="bg-video__content" autoplay muted loop playsinline >
            <source src="/assets/video/top-bg-video.mp4" type="video/mp4" media="only screen and (min-width: 26.25em)">
            <source src="/assets/video/top-bg-video.webm" type="video/webm" media="only screen and (min-width: 26.25em)">
            <source src="/assets/video/mobile-video.mp4" type="video/mp4" media="only screen and (max-width: 26.25em)">
            Your browser is not supported! Please use Google Chrome or Firefox.
        </video>
    </div>
    <div class="press">
        <span class="press__text press__text--1">Our team and campaigns have been featured in:</span>
        <div class="press__logos-container">
            <img class="press__logo" src="/assets/home/press/vanity-fair.png" alt="Vanity Fair">
            <img class="press__logo" src="/assets/home/press/glamour.png" alt="Glamour">
            <img class="press__logo" src="/assets/home/press/la-stampa.png" alt="La Stampa">
            <img class="press__logo" src="/assets/home/press/forbes.png" alt="Forbes">
        </div>
        <span class="press__text">…and  more.</span>
    </div>
</section>
<section class="intro">
    <img class="intro__image" src="/assets/home/intro.svg" alt="Rocket coming out of a computer and going to the sky" />
    <div class="intro__text">
        <p class="intro__paragraph">Monarchy is a marketing engine that partners with businesses to generate attention, leads and sales.</p>
        <p class="intro__paragraph">We are an accelerator, employing the best technologies and creativity to create uniquely converting programs.</p>
        <p class="intro__paragraph">We look for brands with a strong team, ready to scale.</p>
    </div>
</section>
<%- include('components/divider'); %>
<section class="home-services">
    <h2 class="secondary-header">Things We Love</h2>
    <div class="home-services__container">
    <% for(let { title, text, image } of homeGrid) { %>
        <%- include('components/card-grid', { title, text, image }); %>
    <% } %>
    </div>
</section>
<section class="customers-grid">
    <h2 class="customers-grid__title secondary-header">Businesses We Love</h2>
    <div class="customers-grid__container">
        <% for(let { logo, sentence, image, white, logoHeight, marginTop } of customers) { %>
        <div class="customer-box" style="background-image: url(<%- image %>)">
            <div class="customer-box__content-box" <% if(marginTop) { %>style="margin-top:<%= marginTop %>"<% } %> >
                <img class="customer-box__logo" src="<%= logo %>" <%- logoHeight && 'style=height:' %><%- logoHeight %> />
                <p<%- white && ' class="white"' %>><%= sentence %></p>
            </div>
        </div>
        <% } %>
    </div>
</section>
<%- include('components/divider'); %>
<section class="team-section">
<h2 class="secondary-header team-section__title">Meet Our Team</h2>
        <p class="team-section__paragraph">Get to know the members of #TeamMonarchy. We all bring something unique that helps us flourish at Monarchy.</p>
        <a class="main-button" href="/about">Learn More</a>
        <img class="team-section__image" src="/assets/home/team.jpg"/>
</section>
<%- include('partials/footer') %>