<%- include('partials/header') %>
<section class="services">
    <h2 class="services__title secondary-header">Things We Love to Do</h2>
    <p class="services__paragraph mb-3">Consider us your full service marketing engine with a unique business approach. We love what we do, and we love who we do it with.</p>
    <div class="services__container">
        <% for(let i = 0; i < services.length; i++) { %>
        <% const { title, subtitle } = services[i] %>
            <%- include('components/service', { title, subtitle, direction: isOdd(i) ? 'left' : 'right' }) %>
        <% } %>
    </div>
</section>
<%- include('components/divider') %>
<section class="customers">
    <div class="customers__text-container">
        <h2 class="customers__title secondary-header">Here are Some of the Brands Our Founders Have Worked With</h2>
        <p class="customers__paragraph">We have an amazing team. Here are some of the brands we have worked with in the past, as well as some that we are still building and growing.</p>
    </div>
    <div class="customers__logos-container">
        <% for(let logo of logos) { %>
            <img class="customers__image" src="<%= logo %>" />
        <% } %>
    </div>
</section>
<%- include('partials/footer') %>