<%- include('../partials/header') %>
<section class="blog-home">
    <div class="blog-home__post-container">
    <% posts.forEach(post => { %>
        <% const { _id, slug, image, imageAltText, title, content, author: { username: authorName }, createdAt } = post; %>
        <div class="post-scheda">
            <a href="/blog/<%= slug %>"><img src="<%= image %>" alt="<%= imageAltText %>" class="post-scheda__image post-scheda__image--home"></a>
            <div class="post-scheda__title-container">
                <a class="post-scheda__title--link" href="/blog/<%= slug %>/"><h2 class="post-scheda__title"><%= title %></h2></a>
                <% if(user) { %>
                    <div class="post-scheda__admin-btns">
                        <a href="/blog/<%= slug %>/edit"><img class="post-scheda__icon post-scheda__icon--edit" src="/assets/icons/edit-icon.svg" /></a><img class="post-scheda__icon post-scheda__icon--delete" data-_id="<%= _id %>" src="/assets/icons/delete-icon.svg" />
                    </div>
                <% } %>
            </div>
            
            <div class="post-scheda__meta">
                By <%= authorName %> | <%= createdAt.toLocaleString("en-US", { 
                    day: "2-digit", 
                    year: "numeric", 
                    month: "long",
                    hour: "2-digit",
                    hourCicle: "h12",
                    minute: "2-digit"
                }) %>
            </div>
            <div class="post-scheda__excerpt"><%- content.length > 300 ? `${content.replace(/^(.{300}[^\s]*).*/, '$1')} [...]` : content %></div>
            <a href="/blog/<%= slug %>" class="post-scheda__button">Read more</a>
        </div>
    <% }) %>
    </div>
    <%- include('../components/newsletter-subscription-form'); %>
</section>

<%- include('../partials/footer') %>